@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Fira+Sans:ital,wght@1,100&display=swap");

html {
  height: 100%;
  width: 100%;
}

h1 {
  color: red;
  font-size: 30px;
  font-family: "Fira Sans";
}
#intro {
  font-family: "Fira Sans";
}
.colorblau {
  color: blue;
}

.capçalera {
  grid-area: c;
  background-color: grey;
}
.contingut {
  grid-area: o;
}
.lateral {
  grid-area: l;
}
.peu {
  grid-area: p;
}
.principal {
  display: grid;
  grid-gap: 5px;
  grid-template-rows: 100px auto 40px;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
    "c c"
    "o l"
    "p p";
}
